<div class="container pt-3">
  <!-- クリニック一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @clinics.present? %>
          <% @clinics.each do |clinic| %>
            <div class="col-sm-12 col-lg-4 mb-3">
              <div id="clinic-id-<%= clinic.id %>">
                <div class="card">
                  <%= image_tag "board_placeholder.png", class: "card-img-top", width: "300", height:"200" %>
                  <div class="card-body">
                    <div class="d-flex">
                      <h4 class="card-title">
                        <%= link_to clinic.clinic_name, clinic_path(clinic) %>
                      </h4>
                      <% if current_user.own?(clinic) %>
                        <div class='ms-auto'>
                          <%= link_to edit_clinic_path(clinic), id: 'button-edit-#{clinic.id}' do %>
                            <i class="bi bi-pencil-fill"></i>
                          <% end %>
                          <%= link_to clinic_path(clinic), id: 'button-delete-#{clinic.id}', method: :delete, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } do %>
                            <i class="bi bi-trash-fill"></i>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="mb-3">登録したクリックがありません</div>
        <% end %>
      </div>
    </div>
  </div>
</div>