<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <%= message %>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= "クリニック登録" %></h1>
      <%= form_with model: @clinic, class: "new_clinic" do |f| %>
        <!-- クリニック名 -->
        <div class="mb-3">
          <%= f.label :clinic_name, "クリニック名" %>
          <%= f.text_field :clinic_name, class: "form-control" %>
        </div>

        <!-- ドクター名 -->
        <div class="mb-3">
          <%= f.label :doctor_name, "ドクター名" %>
          <%= f.text_field :doctor_name, class: "form-control" %>
        </div>

        <!-- 面会可能日時 -->
        <div class="mb-3">
          <%= f.fields_for :available_times do |at| %>
            <!-- 曜日の選択 -->
            <div class="mb-3">
              <%= at.label :weekday, "曜日" %>
              <div>
                <% %w[Monday Tuesday Wednesday Thursday Friday].each do |day| %>
                  <div class="form-check form-check-inline">
                    <%= at.check_box :weekday, { multiple: true, class: "form-check-input" }, day, nil %>
                    <%= at.label :weekday, day, class: "form-check-label" %>
                  </div>
                <% end %>
              </div>
            </div>

            <!-- 面会可能な時間帯 -->
            <div class="mb-2">
              <%= at.label :available_time_slot, "時間" %>
              <%= at.text_field :available_time_slot, class: "form-control", placeholder: "例: 12:00" %>
            </div>
          <% end %>
        </div>

        <!-- 面会頻度 -->
        <div class="mb-3">
          <%= f.fields_for :visit_intervals do |vi| %>
            <%= vi.label :interval, "訪問頻度" %>
            <%= vi.select :interval, [["30日", 30],["45日", 45], ["60日", 60], ["90日", 90], ["120日", 120], ["180日", 180], ["360日", 360]], { prompt: "選択してください" }, class: "form-control" %>
          <% end %>
        </div>

        <!-- 送信ボタン -->
        <%= f.submit "登録", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>