<div class="container mt-5">
	<h1 class="mb-4">タスク管理ページ</h1>
	<!-- 本日の日付 -->
	<div class="d-flex justify-content-between align-items-center mb-4">
		<%
		day_mapping = {
			"Mon" => "月",
			"Tue" => "火",
			"Wed" => "水",
			"Thu" => "木",
			"Fri" => "金",
			"Sat" => "土",
			"Sun" => "日"
		}
		%>
		<h2>本日の日付: <%= Date.today.strftime('%Y年%m月%d日') %>（<%= day_mapping[Date.today.strftime('%a')] %>）</h2>
		<a href="<%= new_task_path %>" class="btn btn-primary">スケジュールを作成</a>
	</div>

	<!-- 本日のスケジュール -->
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead class="thead-light">
				<tr>
					<th scope="col"> </th>
					<% @times.each do |time| %>
					<th scope="col"><%= time %></th>
				<% end %>
				</tr>
			</thead>
			<tbody>
				<% @dates.each do |date| %>
					<tr>
						<td>
							<p><%= date.strftime('%Y年%m月%d日') %>（<%= day_mapping[date.strftime('%a')] %>）</p>
						</td>
						<% @times.each do |time| %>	
						<td>
							<% schedule = @schedules.find { |s| s.appointment_date == date && s.scheduled_time == time } %>			
							<% if schedule %>
								<%= schedule.clinic.clinic_name %>
							<% else %>
								&nbsp;
							<% end %>
						</td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<h2>提出物</h2>
	

	<div class="d-flex justify-content-between align-items-center mb-4">
  		<%= link_to "提出物を登録", new_submission_path, class: "btn btn-primary ms-auto" %>
	</div>

	<% if @submissions.any? %>
		<ul>
			<% @submissions.each do |submission| %>
			<li>
				<strong><%= submission.title %></strong>  
				- <%= submission.description %>  
				（提出期限: <%= submission.due_date.strftime('%Y-%m-%d') %>）
			</li>
			<% end %>
		</ul>
	<% else %>
  		<p>提出物はありません。</p>
	<% end %>
</div>