<div class="container mt-5">
	<h1 class="mb-4">スケジュール作成</h1>
	<table class="table mt-4">
    <%= link_to "スケジュール自動作成", auto_schedule_tasks_path, method: :post, class: "btn btn-primary" %>
	<!-- 本日のスケジュール -->
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead class="thead-light">
				<tr>
				<th scope="col"> </th>
				  <% @times.each do |time| %>
          		    <th scope="col"><%= time %></th>
        		  <% end %>
				</tr>
			</thead>
			<tbody>
				<% @dates.each do |date| %>
					<tr>
									<%
						day_mapping = {
							"Mon" => "月",
							"Tue" => "火",
							"Wed" => "水",
							"Thu" => "木",
							"Fri" => "金",
							"Sat" => "土",
							"Sun" => "日"
						}
						%>
						<td><p><%= date.strftime('%Y年%m月%d日') %>（<%= day_mapping[date.strftime('%a')] %>）</p>
						<% @times.each do |time| %>
						<td>
							<% schedule = @schedules.find { |s| s.appointment_date == date && s.scheduled_time == time } %>
							<% if schedule %>
								<!-- スケジュールが既にある場合はクリニック名を表示 -->
								<%= schedule.clinic.clinic_name %>

								
								<%= button_to task_path(schedule), method: :delete, data: { turbo_confirm: "本当に削除しますか？" }, id: "button-delete-#{schedule.id}" do %>
									<i class="bi bi-trash-fill"></i>
								<% end %>
							<% else %>
								<!-- スケジュールがない場合はフォームを表示 -->
								<%= form_with(url: tasks_path, method: :post, local: true) do |f| %>
									<%= hidden_field_tag :appointment_date, date %>
									<%= hidden_field_tag :scheduled_time, time %>
									
									<!-- クリニック名入力用のフィールド -->
									<input type="text" name="clinic_name" class="form-control"
										style="border: none; outline: none; background: transparent; width: 100%;">
						
									<%= f.submit "保存", class: "btn btn-primary" %>
								<% end %>
							<% end %>
						</td>
						<% end %>
					</tr>
				<% end %>
		  </tbody>

		</table>
	</div>

</div>